
header .header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    background-color: whitesmoke;
   margin: 3%;
    
}
header .header .fa-regular{
    position: absolute;
    right: 140px;
    top: 55px;
}

.container{
border: 1px solid whitesmoke;
    background-color: whitesmoke;
    max-width: 1400px;
  
}
.container .search-icon{
    position: absolute;
    left: 0;
    top: 20px;
}
.container .body{
display: flex;
justify-content: space-between;
align-items: center;
}
